/* Estilização da lista de pokemons */
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.grass {
    background-color: #77c850;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
 
}

.fire {
    background-color: #ee7f30;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.water {
    background-color: #678fee;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.electric {
    background-color: #f7cf2e;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.ice {
    background-color: #98d5d7;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.ground {
    background-color: #dfbf69;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.flying {
    background-color: #a98ff0;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.poison {
    background-color: #a040a0;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.fighting {
    background-color: #bf3029;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.psychic {
    background-color: #f65687;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.dark {
    background-color: #725847;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.rock {
    background-color: #b8a137;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.bug {
    background-color: #a8b720;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.ghost {
    background-color: #6e5896;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.steel {
    background-color: #b9b7cf;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.dragon {
    background-color: #6f38f6;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

.fairy {
    background-color: #f9aec7;
    background-image: url('../images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: auto;
    padding-left: auto;
    background-size: 150px;
}

/* Estilização da caixa que contém os pokemons */
.pokemon {
    display: flex;
    flex-direction: column;


    margin: .3rem;
    padding: .2rem;
    border-radius: 1rem;
}

.content h1 {
    margin-top: 0; /* Remove o espaçamento superior do título */
    margin-left: 1rem;
}

.pokemon .name {
    display: block;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    margin-bottom: .1rem;

}

/* Estilização do número da pokedex */
.pokemon .number {
    display: block;
    text-align: right;
    color: #000;
    opacity: .350;
    margin-top: .5rem;
    font-size: 1rem;
}

/* Estilização dos detalhes dentro da caixa do pokemon */
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Estilização do tipo do pokemon */
.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Estilização da caixa que contém o tipo do pokemon*/
.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;

}
/* Estilização das imagens dos pokemons */
.pokemon .detail img {
    width: 150px;
    height: 120%;
    position: relative;
    left: 10px;
    bottom: -2px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



